# build and cache
cache/
out/

# general
.env

# editors
.idea
.vscode

# node
node_modules

# ignore foundry deploy artifacts
broadcast/

# coverage artifacts
lcov.info
lcov.info.p

# documentation
docs/

# gas snapshots
.gas-snapshot
